* {
  margin: 0
}

:root {
  --dark-blue: #022738;
  --dark-green: #26706F;
  --medium-blue: #4D869E;
  --medium-green: #28DEAD;
  --light-green: #3FFCD3;
  --white87: rgba(255,255,255,87);

  background-color: var(--dark-blue);
  color: var(--white87);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  font-size: 2rem;
  margin: 0 .5rem;
}
.nav-first {
  order: -1
}

.nav-list {
  list-style: none;
}


a {
  color: var(--medium-green);
  font-weight: bold;
  text-decoration: none;
}