* {
  margin: 0
}

:root {
  --dark-blue: #022738;
  --dark-green: #26706F;
  --medium-blue: #4D869E;
  --medium-green: #28DEAD;
  --light-green: #3FFCD3;
  --white87: rgba(255,255,255,87);

  background-color: var(--dark-blue);
  color: var(--white87);
}

a {
  color: var(--medium-green);
  font-weight: bold;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.nav-title {
  font-size: 2rem;
  margin: 0 .5rem;
}
.nav-first {
  order: -1
}

.nav-list {
  list-style: none;
}

.nav-list li a {
  color: #022738;
  background-color: var(--medium-green);

  border-radius: 5%;
  padding: .5rem .8rem;
  margin: .5rem;

  transition: 300ms;
}
.nav-list li a:hover {
  background-color: var(--light-green);
}